.headerblock {
    width:100%; 
    background-color:#cee4c5; 
    padding: 10px; 
    height:120px;
	vertical-align:middle;
	display: flex;
}

.logo {
    float:left; 
    margin:10px; 
    width:100px; 
    height:100px;
    background-color: #f2bc85;
    padding: 5px;
}

#bf_list, #content table, #superform{
    background-color: #f3f5bc;
    font-family: fantasy;
}

header main, header aside{
    background-color: #d68aaa;
    font-family: fantasy;
    vertical-align: middle;
    height: 100%;
}

table td, th{
  border: 1px solid black;
}

table {
  width: 100%;
}

.table_odd {
    background-color:#ecb2cd;
}

.table_even {
    background-color:#bbb2f1;
}

body footer{
    background-color:#a4d8cb;
}